body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1536566482680-fca31930a085?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #1c1e21;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* rgba(82, 148, 206, 0.2), 0 0 0 4px rgba(82, 148, 206, 0.5); */

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(184, 145, 231, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    max-width: 1200px;
    width: 95%;
    box-sizing: border-box;
}

.left-column {
    flex: 1;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#email {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 6px 0 0 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    margin-right: -1px; /* To make the button and input look connected */
}

/* Responsive Design */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        height: auto; /* Allow container to grow */
        width: 100%;
    }

    .left-column, .right-column {
        flex: 1 1 100%;
        width: 100%;
    }

    .left-column {
        padding: 5%;
    }

    h1 {
        font-size: 2rem;
    }

    .caption {
        font-size: 1rem;
    }
    .right-column {
        min-height: auto; /* Reset min-height */
        height: 50vh; /* Set a specific height for medium screens */
    }
}

@media (max-width: 768px) {
    .left-column {
        padding: 5%;
    }

    h1 {
        font-size: 1.8rem;
    }

    #waitlist-form {
        flex-direction: column;
    }

    #email {
        border-radius: 6px;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    button {
        border-radius: 6px;
    }
    .right-column {
        height: 40vh; /* Adjust height for smaller tablets */
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    .left-column {
        padding: 5%;
        height: auto; /* Allow left column to grow */
    }

    h1 {
        font-size: 1.5rem;
    }

    .caption {
        font-size: 0.9rem;
    }

    .logo-container {
        margin-bottom: 20px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .logo-text {
        font-size: 2rem;
    }
    .right-column {
        height: 30vh; /* Adjust height for mobile phones */
    }
}
